<html>
    <head>
        
     </head>
    
    <body>
        
        <h1>Hello this is Home page</h1>
        
        <%= link_to 'About', about_path %>
        
    </body>
    
    
    
</html>